.text {
    height: 100%;
    text-align: center;
    background-color: aqua;
    margin:0;
    padding:0;
}
body { 
    margin: 0; /* Убираем отступы */
    padding: 0;
    background-color: aqua;
   }

  